{% extends 'base.html.twig' %}

{% block title %}
	TB Games - Accueil
{% endblock %}

{% block body %}
	<div class="container center">
		<section class="homepage-section">
			<div class="text-container">
				<h2 class="homepage-subtitle">Un univers de réflexion et de collaboration</h2>
				<p class="sub-text">Plongez dans des scénarios immersifs où chaque énigme teste vos capacités logiques et vos talents de résolveur. Créez des parties privées ou publiques pour jouer avec vos amis ou rencontrer de nouveaux coéquipiers. Vous n'avez qu'un objectif : vous échapper ! Une bonne communication sera la clé grâce à notre chat intégré.</p>
			</div>
			<div class="img-container">
				<img src="{{ asset('images/homepage_ai1.jpg') }}" alt="Illustration sur le thème des énigmes et puzzles">
			</div>
		</section>

		<img src="{{ asset('images/section_separator_large.svg')}}" alt="Séparateur de section" class="section-separator-img">

		<section class="homepage-section">
			<div class="text-container">
				<h2 class="homepage-subtitle">Challengez vos collègues avec des escape games personnalisés</h2>
				<p class="sub-text">Entreprises, renforcez la cohésion de vos équipes en les immergeant dans des aventures sur mesure. Ajoutez des énigmes personnalisées pour que vos collaborateurs apprennent à mieux connaître leur environnement professionnel, tout en se défiant à résoudre des casse-têtes ensemble.</p>
				<a href="#" class="homepage-section-button">
					<span>Partir à l'aventure</span>
					<img src="{{ asset('images/arrow_right.svg') }}" alt="Flèche vers la droite">
				</a>
			</div>
			<div class="img-container">
				<img src="{{ asset('images/homepage_ai2.jpg') }}" alt="Illustration sur le thème des énigmes et puzzles">
			</div>
		</section>

		<img src="{{ asset('images/section_separator_large.svg')}}" alt="Séparateur de section" class="section-separator-img">

		<section class="homepage-section">
			<div class="text-container">
				<h2 class="homepage-subtitle">Expérience collaborative enrichissante</h2>
				<p class="sub-text">Résolvez des énigmes de plus en plus complexes dans des environnements mystérieux et testez votre esprit d'équipe. Une communication efficace, des idées créatives et une logique sans faille seront vos meilleurs alliés pour triompher de chaque défi.</p>
			</div>
			<div class="img-container">
				<img src="{{ asset('images/homepage_ai3.png') }}" alt="Illustration sur le thème des énigmes et puzzles">
			</div>
		</section>
	</div>
{% endblock %}
