{% block card %}
	<article class="game-card" data-target="#modal" data-action="show" data-card-id="{{ game.id }}">
		<div class="game-picture-container">
			<img src="{{ vich_uploader_asset(game, 'pictureFile') }}" alt="{{ game.title }}" class="game-picture">
		</div>

		<div class="game-infos">
			<div class="top-section">
				<div class="title-rating">
					<h3>{{ game.title }}</h3>
					<div class="game-difficulty" data-difficulty="{{ game.difficulty }}"></div>
				</div>
				<div class="max-time">
					<img src="{{ asset('images/clock_icon.svg') }}" alt="Icône de montre">
					<p>{{ game.time }}
						min</p>
				</div>
			</div>
			<div class="game-description">
				{{ game.description }}
			</div>
		</div>
	</article>
{% endblock %}
