<header class="header" data-controller="header">
	<a href="{{ path('home.index') }}">
		<img src="{{ asset('images/TB_Games_logo.svg')}}" alt="Logo TB Games" class="header-logo">
	</a>
	<nav class="header-nav">
		<button class="burger-menu-button" aria-label="Toggle navigation">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<ul class="header-nav--pages-links">
			<li>
				<a href="#">Nos services</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
			{% if app.user %}
				<li>
					<a href="{{ path('app.dashboard') }}">Tableau de bord</a>
				</li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('admin.games.index') }}">Panel d'administration</a>
				</li>
			{% endif %}
		</ul>
	</nav>
	{% if app.user %}
		<div class="logged-user">
			<a class="user-container" href="{{ path('app.profile') }}">
				<img src="{{ app.user.picture ? vich_uploader_asset(app.user, 'pictureFile') : "/images/user_icon.svg" }}" alt="Image de profil" class="user-icon">
				<p class="username">{{ app.user.username }}</p>
			</a>
			<a href="{{ path('app.logout') }}" class="logout-button">Se déconnecter</a>
		</div>
	{% else %}
		<ul class="header-nav--connection-links {{app.current_route == 'app.register' ? 'register-page' : '' }}">
			{% if app.current_route == 'app.register' %}
				<p class="have-account-text">Vous avez un compte ?</p>
				<li class="button button--highlighted button--small login-button">
					<a href="{{ path('app.login') }}">Se connecter</a>
				</li>
			{% elseif app.current_route == 'app.login' %}

			{% else %}
				<li class="login-link">
					<a href="{{ path('app.login') }}">Se connecter</a>
				</li>
				<li class="button button--highlighted button--small">
					<a href="{{ path('app.register') }}">S'inscrire</a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
</header>
