{% extends 'base.html.twig' %}

{% block title %}
	{{ game.title }}
{% endblock %}

{% block body %}
	<div id="riddle-container" data-controller="active-game" data-game-id="{{ game.id }}">
		<h2 class="riddle-title">{{ game.title }}</h2>
		<div class="riddle" data-riddle-id="{{ firstRiddle.id }}">
			<div class="riddle-timer"></div>
			<p class="riddle-question"></p>

			<form id="riddle-answer-form">
				<div class="form-group">
					<input type="text" name="answer" id="riddle-answer-input">
				</div>
				<button type="submit" class="button--highlighted button--small" id="riddle-submit-button">Valider</button>
			</form>

			<p class="riddle-message"></p>
			<button id="next-riddle-button">Prochaine énigme
				<img src="{{ asset('images/arrow_right.svg') }}" alt="Flèche vers la droite" class="arrow-right"></button>
		</div>
	</div>

{% endblock %}
