{% extends 'base.html.twig' %}

{% block title %}Bonjour,
	{{ app.user.username }}
{% endblock %}

{% block body %}
	<div class="container dashboard-container" data-controller="dashboard">
		<h1 class="dashboard-title">Mon tableau de bord</h1>
		<section class="dashboard-section">
			<aside class="aside-user-infos">
				<div class="user-card">
					<div class="user-infos">
						<img src="{{ asset('images/user_icon.svg') }}" alt="Icône de l'utilisateur">
						<p>{{ app.user.username }}</p>
					</div>
					<p class="user-stats">Parties jouées : 2</p>
				</div>
				<div class="friend-list">
					<h2 class="friend-list-title">Liste d'amis</h2>
					<ul>
						<li>Ami1</li>
						<li>Ami2</li>
						<li>Ami3</li>
						<li>Ami4</li>
						<li>Ami5</li>
					</ul>
				</div>
			</aside>

			<div class="game-card-container">
				{% for game in games %}
					{{ include('partials/game_card.html.twig') }}
				{% endfor %}
				{{ include('partials/modal.html.twig') }}
			</div>
		</section>
	</div>
{% endblock %}
