{% extends 'base.html.twig' %}

{% block title %}Bonjour, {{ app.user.username }}{% endblock %}

{% block body %}
<div class="container dashboard_container">
    <h1 class="dashboard_title">Mon tableau de bord</h1>
    <section class="dashboard_section">
        <aside>
            <div class="user_card">
                <div class="user_infos">
                    <img src="{{ asset('images/user_icon.svg') }}" alt="Icône de l'utilisateur">
                    <p>{{ app.user.username }}</p>
                </div>
                <p class="user_stats">Parties jouées : 2</p>
            </div>
            <div class="friend_list">
                <h2 class="friend_list_title">Liste d'amis</h2>
                <ul>
                <li>Ami1</li>
                <li>Ami2</li>
                <li>Ami3</li>
                <li>Ami4</li>
                <li>Ami5</li>
                </ul>
            </div>
        </aside>
        
        <div class="game_card_container">
            {{ include('partials/game_card.html.twig') }}
            {{ include('partials/game_card.html.twig') }}
            {{ include('partials/game_card.html.twig') }}
            {{ include('partials/game_card.html.twig') }}
            {{ include('partials/game_card.html.twig') }}
            {{ include('partials/game_card.html.twig') }}
        </div>
    </section>
</div>
{% endblock %}
